.Paragraph {
	width: 60%;
	margin: 0 auto;
	
	font-size: 1.5rem;
	letter-spacing: 1px;
	
	position: relative;
	top: 0px;
	left: 0px;
}

.Paragraph__text {
	width: 100%;
	padding: 10px;
	outline: 0px;
	
	cursor: text;
}

@media only screen and (max-width: 1000px){
	.Paragraph {
		width: 90%;
		font-size: 1.2rem;
	}
}