.TopToolbarStyle {
	position: relative;
	
	width: 100%;
	height: 100%;
	padding: 3.75px;
	
	fill: white;
}

.TopToolbarStyle--bgWhite {
	border-radius: 5px;
	
	background-color: white;
	fill: black;
}

.TopToolbarStyle__active {
	fill: rgba(173,255,47,0.9);
}

.TopToolbarStyle:hover {
	cursor: pointer;
}

.TopToolbarStyle__svg {
	position: absolute;
	top: 3.75px;
	left: 3.75px;
	
	width: 17.5px;
	height: 17.5px;
	
	pointer-events: none;
}

.TopToolbarStyle__smallsvg {
	position: absolute;
	top: 8.75px;
	left: 5px;
	
	width: 12.5px;
	height: 12.5px;
	
	pointer-events: none;
}

.SideToolbarStyle {
	width: 100%;
	height: 100%;
	
	fill: black;
}

.SideToolbarStyle:hover {
	cursor: pointer;
}

.SideToolbarStyle__svg {
	pointer-events: none;
}