.TopToolbar {
	--width: 211px;
	--height: 35px;
	--top: 0px;
	--left: 0px;
	
	position: absolute;
	top: var(--top);
	left: var(--left);
	
	display: flex;
	flex-direction: row;
	flex: 1;
	
	width: var(--width);
	height: var(--height);
	padding: 5px;
	border-radius: 5px;
	
	background-color: black;
	
	transition: all 0.5s ease-in-out;
}

.TopToolbar__hide {
	display: none;
}

.TopToolbar__arrow {
	width: 12px;
	height: 12px;
	
	position: absolute;
	top: calc(var(--height));
	left: calc(var(--width) / 2);
	
	transform: translate(-50%, -50%) rotate(45deg);
	
	background-color: black;
}